@model AuthorDetailsViewModel

@{
    ViewBag.Title = "Delete Author";
}

<h2 class="display-6 fw-medium text-center">Delete Author</h2>

<div style="display: flex; flex-direction: column;" class="info-box">
    <h2>Author:</h2>
    <ul>
        <li><strong>First Name:</strong> @Model.FirstName</li>
        <li><strong>Last Name:</strong> @Model.LastName</li>
        <li><strong>Date of Birth:</strong> @Model.GetDateString()</li>
    </ul>
    <h2>Books:</h2>
    <ul>
        @foreach (var book in Model.GetBooks())
        {
            <li><strong>@book.Title</strong></li>
        }
    </ul>

    <p class="text-danger text-center">Are you sure to delete this author from repository?<br>
        <strong>This action cannot be undone! It also deletes all books written by this author from repository!</strong></p>
    <form asp-controller="Author" asp-action="Delete" method="post" style="display: flex;">
        <input type="hidden" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-sm btn-danger btn-edit">Delete Author</button>
        <a asp-controller="Author" asp-action="List" class="btn btn-sm btn-secondary btn-edit">Cancel</a>
    </form>
</div>

<style>
    .info-box {
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #4CAF50;
        border-radius: 10px;
        background: linear-gradient(to bottom, #ffffff, #bdb76b);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        color: #333;
    }

    .info-box h2 {
        margin-top: 0;
        font-size: 24px;
        color: #4CAF50;
    }

    .info-box p {
        font-size: 16px;
        line-height: 1.5;
    }

    .info-box ul {
        padding-left: 20px;
        margin-top: 10px;
    }

    .info-box li {
        margin-bottom: 5px;
    }

    .btn-edit {
        background-color: #60b6ff;
        border-color: #60b6ff;
        display: block;
        margin: 0 auto;
        max-width: 40%;
    }
</style>
