@model BookDetailsViewModel

@{
    ViewData["Title"] = "Book Details";
}

<h2 class="display-6 fw-medium text-center">Book Details</h2>

<div style="display: flex; flex-direction: column;" class="info-box">
    <h2>Title: @Model.Title</h2>
    <ul>
        <li><strong>Author:</strong> @Data.Authors.FirstOrDefault(a => a.Id == Model.AuthorId).GetFullName()</li>
        <li><strong>Genre:</strong> @Model.Genre</li>
        <li><strong>Publish Date:</strong> @Model.GetDateString()</li>
        <li><strong>ISBN:</strong> @Model.Isbn</li>
        <li><strong>Copies Available:</strong> @Model.CopiesAvailable</li>
    </ul>
    <div style="display: flex; gap: 10px;">
        <a class="btn btn-sm btn-primary btn-edit" asp-controller="Book" asp-action="Edit" asp-route-id="@Model.Id">Edit Book</a>
        <a asp-controller="Book" asp-action="List" class="btn btn-sm btn-secondary btn-edit">Cancel</a>
    </div>
</div>

<style>
    .info-box {
        max-width: 500px;
        margin: 20px auto;
        padding: 20px;
        border: 2px solid #4CAF50;
        border-radius: 10px;
        background: linear-gradient(to bottom, #ffffff, #bdb76b);   
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        font-family: Arial, sans-serif;
        color: #333;
    }

    .info-box h2 {
        margin-top: 0;
        font-size: 24px;
        color: #4CAF50;
    }

    .info-box p {
        font-size: 16px;
        line-height: 1.5;
    }

    .info-box ul {
        padding-left: 20px;
        margin-top: 10px;
    }

    .info-box li {
        margin-bottom: 5px;
    }
    
    .btn-edit {
        background-color: #60b6ff;
        border-color: #60b6ff;
        display: block;
        margin: 0 auto;
        max-width: 40%;
    }
</style>



