@{
    ViewData["Title"] = "Book Repository";
}

<div>
    <h2 class="display-5 text-center">Welcome to Book Repository</h2>
    <p  class="text-center">Below is a list of books.</p>
    
    <div class="text-center mb-3">
        <p class="d-inline text-center m-3 fw-bold">You can use the button to add a new book to the repository</p>
        <a class="btn btn-primary" asp-controller="Book" asp-action="Add">Add new book</a>
    </div>
    
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Publish Date</th>
            <th scope="col">ISBN</th>
            <th scope="col">Copies Available</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var book in Data.Books)
            {
                <tr>
                    <th scope="row">@book.Id</th>
                    <td>@book.Title</td>
                    <td>@Data.Authors.FirstOrDefault(a => a.Id == book.AuthorId).GetFullName()</td>
                    <td>@book.PublishDate.ToShortDateString()</td>
                    <td>@book.Isbn</td>
                    <td>@book.CopiesAvailable</td>
                </tr>
            }
        </tbody>
    </table>
</div>
